@font-face {
    font-family: "Scriptina";
    src: url("fonts/bakey/scriptina.ttf") format("truetype"),
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Alegreya', serif;
    font-size: 16px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 100%;
    margin: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 1920px) {
    .container {
        width: 1800px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col1 {
    flex: 0 0 calc(100% / 12);
    padding: 0 20px;
    box-sizing: border-box;
}

.col1:first-child {
    padding-left: 0;
}

.col1:last-child {
    padding-right: 0;
}

.col2 {
    flex: 0 0 calc(100% / 12 * 2);
    padding: 0 20px;
    box-sizing: border-box;
}

.col2:first-child {
    padding-left: 0;
}

.col2:last-child {
    padding-right: 0;
}

.col3 {
    flex: 0 0 calc(100% / 12 * 3);
    padding: 0 20px;
    box-sizing: border-box;
}

.col3:first-child {
    padding-left: 0;
}

.col3:last-child {
    padding-right: 0;
}

.col4 {
    flex: 0 0 calc(100% / 12 * 4);
    padding: 0 20px;
    box-sizing: border-box;
}

.col4:first-child {
    padding-left: 0;
}

.col4:last-child {
    padding-right: 0;
}

.col5 {
    flex: 0 0 calc(100% / 12 * 5);
    padding: 0 20px;
    box-sizing: border-box;
}

.col5:first-child {
    padding-left: 0;
}

.col5:last-child {
    padding-right: 0;
}

.col6 {
    flex: 0 0 calc(100% / 12 * 6);
    padding: 0 20px;
    box-sizing: border-box;
}

.col6:first-child {
    padding-left: 0;
}

.col6:last-child {
    padding-right: 0;
}

.col7 {
    flex: 0 0 calc(100% / 12 * 7);
    padding: 0 20px;
    box-sizing: border-box;
}

.col7:first-child {
    padding-left: 0;
}

.col7:last-child {
    padding-right: 0;
}

.col8 {
    flex: 0 0 calc(100% / 12 * 8);
    padding: 0 20px;
    box-sizing: border-box;
}

.col8:first-child {
    padding-left: 0;
}

.col8:last-child {
    padding-right: 0;
}

.col9 {
    flex: 0 0 calc(100% / 12 * 9);
    padding: 0 20px;
    box-sizing: border-box;
}

.col9:first-child {
    padding-left: 0;
}

.col9:last-child {
    padding-right: 0;
}

.col10 {
    flex: 0 0 calc(100% / 12 * 10);
    padding: 0 20px;
    box-sizing: border-box;
}

.col10:first-child {
    padding-left: 0;
}

.col10:last-child {
    padding-right: 0;
}

.col11 {
    flex: 0 0 calc(100% / 12 * 11);
    padding: 0 20px;
    box-sizing: border-box;
}

.col11:first-child {
    padding-left: 0;
}

.col11:last-child {
    padding-right: 0;
}

.col12 {
    flex: 0 0 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.col12:first-child {
    padding-left: 0;
}

.col12:last-child {
    padding-right: 0;
}

.offset1 {
    margin-left: calc(100% / 12);
}

.offset2 {
    margin-left: calc(100% / 12 * 2);
}

.offset3 {
    margin-left: calc(100% / 12 * 3);
}

.offset4 {
    margin-left: calc(100% / 12 * 4);
}

.offset5 {
    margin-left: calc(100% / 12 * 5);
}

.offset6 {
    margin-left: calc(100% / 12 * 6);
}

.header {
    background-image: url("./images/bakery/header.png");
    background-repeat: no-repeat;
    height: 900px;
    color: #fff;

}

.navigation-background {
    background-color: rgba( 0, 0, 0, 0.5) ;
}

.navigation {
    align-items: center;
}
.logo {
    display: inline-block;
    background-image: url("./images/bakery/logo.png");
    background-repeat: no-repeat;
    width: 140px;
    height: 44px;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    font-size: 16px;
}

.menu__element {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

.menu__element:hover {
    text-decoration: underline;
}

.menu__divider:before {
    content: "~";
    font-weight: 700;
}

.social {
    display: flex;
    justify-content: flex-end;

}


.social__element{
    margin-left: 30px;
}

.social__item:first-child .social__element{
    margin-left: 0;
}

.social__element--twitter {
    display: block;
    background-image: url("./images/bakery/social-twitter.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 13px;
}

.social__element--facebook{
    display: block;
    background-image: url("./images/bakery/social-facebook.png");
    background-repeat: no-repeat;
    width: 8px;
    height: 15px;
}

.social__element--instagram {
    display: block;
    background-image: url("./images/bakery/social-instagram.png");
    background-repeat: no-repeat;
    width: 14px;
    height: 16px;
}
