* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lora', serif;
    font-size: 16px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 100%;
    margin: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 1920px) {
    .container {
        width: 1800px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col1 {
    flex: 0 0 calc(100% / 12);
    padding: 0 20px;
    box-sizing: border-box;
}

.col1:first-child {
    padding-left: 0;
}

.col1:last-child {
    padding-right: 0;
}

.col2 {
    flex: 0 0 calc(100% / 12 * 2);
    padding: 0 20px;
    box-sizing: border-box;
}

.col2:first-child {
    padding-left: 0;
}

.col2:last-child {
    padding-right: 0;
}

.col3 {
    flex: 0 0 calc(100% / 12 * 3);
    padding: 0 20px;
    box-sizing: border-box;
}

.col3:first-child {
    padding-left: 0;
}

.col3:last-child {
    padding-right: 0;
}

.col4 {
    flex: 0 0 calc(100% / 12 * 4);
    padding: 0 20px;
    box-sizing: border-box;
}

.col4:first-child {
    padding-left: 0;
}

.col4:last-child {
    padding-right: 0;
}

.col5 {
    flex: 0 0 calc(100% / 12 * 5);
    padding: 0 20px;
    box-sizing: border-box;
}

.col5:first-child {
    padding-left: 0;
}

.col5:last-child {
    padding-right: 0;
}

.col6 {
    flex: 0 0 calc(100% / 12 * 6);
    padding: 0 20px;
    box-sizing: border-box;
}

.col6:first-child {
    padding-left: 0;
}

.col6:last-child {
    padding-right: 0;
}

.col7 {
    flex: 0 0 calc(100% / 12 * 7);
    padding: 0 20px;
    box-sizing: border-box;
}

.col7:first-child {
    padding-left: 0;
}

.col7:last-child {
    padding-right: 0;
}

.col8 {
    flex: 0 0 calc(100% / 12 * 8);
    padding: 0 20px;
    box-sizing: border-box;
}

.col8:first-child {
    padding-left: 0;
}

.col8:last-child {
    padding-right: 0;
}

.col9 {
    flex: 0 0 calc(100% / 12 * 9);
    padding: 0 20px;
    box-sizing: border-box;
}

.col9:first-child {
    padding-left: 0;
}

.col9:last-child {
    padding-right: 0;
}

.col10 {
    flex: 0 0 calc(100% / 12 * 10);
    padding: 0 20px;
    box-sizing: border-box;
}

.col10:first-child {
    padding-left: 0;
}

.col10:last-child {
    padding-right: 0;
}

.col11 {
    flex: 0 0 calc(100% / 12 * 11);
    padding: 0 20px;
    box-sizing: border-box;
}

.col11:first-child {
    padding-left: 0;
}

.col11:last-child {
    padding-right: 0;
}

.col12 {
    flex: 0 0 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.col12:first-child {
    padding-left: 0;
}

.col12:last-child {
    padding-right: 0;
}

.offset1 {
    margin-left: calc(100% / 12);
}

.offset2 {
    margin-left: calc(100% / 12 * 2);
}

.offset3 {
    margin-left: calc(100% / 12 * 3);
}

.offset4 {
    margin-left: calc(100% / 12 * 4);
}

.offset5 {
    margin-left: calc(100% / 12 * 5);
}

.offset6 {
    margin-left: calc(100% / 12 * 6);
}

.header {
    height: 100px;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 52px;
    background-color: #1baba1;
    color: #ffffff;
    font-size: 28px;
    text-decoration: none;
}

.nav__item {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #86898a;
    margin-left: 30px;
    transition: color 0.3s ease-out;
}

.nav__item:first-child {
    margin-left: 0;
}

.nav__item:hover {
    color: #000;
}

.post-job {
    height: 42px;
    background: none;
    border: 1px solid #86898a;
    border-radius: 42px;
    padding: 0 40px;
    color: #86898a;
    transition: color 0.3s ease-out;
    text-transform: uppercase;
    cursor: pointer;
}

.post-job:hover {
    color: #000;
    border-color:#000;
}

.search-job {
    background-image: url(images/Freelancer/search-job.png);
    background-repeat: no-repeat;
    height: 650px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-job__title {
    font-size: 52px;
    margin-top: 40px;
    margin-bottom: 0;
}

.search-job__description {
    margin-top: 35px;
    font-size: 21px;
}

.search-box {
    width: 735px;
    border-radius: 62px;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    padding: 5px;
    display: flex;
    align-items: center;
}

.button {
    background: #d02184;
    border: none;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    padding : 20px 45px;
    border-radius: 57px;
    cursor: pointer;
    transition: background 0.2s ease-out;
}

.button:hover {
    background: #971860;
}


.search-job__input {
    outline: none;
    border: none;
    flex-grow: 1;
    margin-left: 60px;
    font-size: 14px;
}

.work-scopes {
    padding: 100px 0;
}

.work-scopes__scope {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.h2 {
    font-size: 36px;
    text-align: center;
}

.h3 {
    font-size: 26px;
}

.h4 {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.work-scopes__scope-title {
    font-size: 21px;
    color: #1baba1;
    font-weight: bold;
}

.work-scopes__scope-description {
    color: #000;
    margin-top: 25px;
}

.content-about {
    display: flex;
    width: 100%;
    height: 500px;
    background: url(images/Freelancer/content-about-image.png) no-repeat;
    background-size: 50%;
}


.content-about__text {
    display: flex;
    flex-direction: column;
    margin-left: 40px;

}

.content-about__text-title {
    font-size: 26px;
    font-weight: 700;
}

.content-about__text-description {
    margin-top: 30px;
}

.content-about__link {
    text-decoration: none;
    color: #1baba1;
    margin-top: 40px;
    font-weight: 700;
}

.experts-pool__description {
    text-align: center;
}

.experts-pool__experts-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 30px;
    transition: box-shadow 0.2s ease-out;
}

.experts-pool__experts-group:hover {
    box-shadow: 0 0 30px -5px rgba(0,0,0,0.4);
}

.experts-pool__experts-group-title {
    color: initial;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 30px;
    text-align: center;
    height: 2em;
}

.experts-pool__experts-group-description {
    color: initial;
    margin-top: 30px;
    text-align: center;
}

.experts-pool__experts-groups {
    margin-top: 60px;
}

.experts-pool__all-category {
    text-align: center;
    margin-top: 40px;
}

.works-pool__description {
    text-align: center;
}

.works-pool__works-stage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 30px;
    transition: box-shadow 0.2s ease-out;
}

.works-pool__works-stage:hover {
    box-shadow: 0 0 30px -5px rgba(0,0,0,0.4);
}

.works-pool__works-stage-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: initial;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

.works-pool__works-stage-title:before {
    display: block;
    content:"";
    width:68px;
    height:2px;
    background-color:#ff004e;
    margin-bottom: 30px;
}


.works-pool__works-stage-description {
    color: initial;
    margin-top: 30px;
    text-align: center;
}


.works-pool__works-stages {
    margin-top: 60px;
}


.works-pool__works-stage-img {
    height: 128px;
}

.price {
    margin-top: 200px;
}

.price__description {
    text-align:  center;
}

.price__plans {
    margin-top: 60px;
}

.price__plan {
    color: initial;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-decoration: none;
    transition: box-shadow 0.2s ease-out;
}

.price__plan:hover {
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.4);
}

.price__plan-header {
    padding:40px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4fafa;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.price__plan:hover .price__plan-header {
    background-color: #d02184;
    color: #fff;
}

.price__plan-description {
    margin-top: 15px;
    font-size: 12px;
}

.price__plan-cost-container {
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.price__plan-cost {
    font-size: 55px;
    margin-right: 5px;
    color: #d02184;
    transition: color 0.2s ease-out, font-weigth 0.2s ease-out;
}

.price__plan:hover .price__plan-cost {
    color: #fff;
    font-weight: 700;
}

.price__plan-body {
    padding: 0 80px;
}

.price__plan-element {
    margin-top: 40px ;
}

.price__plan-element:last-child {
    margin-bottom: 40px;
}

.price__plan:hover .price__plan-element {
    text-decoration: underline;
}
