.container {
    width: 960px;
    margin:0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    align-items: flex-start;

}

.col-sidebar {
    width: 149px;
}
.col-narrow {
    width: 230px;
    margin-left: 15px;
}

.col-wide {
    flex-grow: 1;
    margin-left: 15px;
}