body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.container {
    width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col1 {
    flex: 1 1 calc(100% / 12);
    padding: 0 20px;
    box-sizing: border-box;
}

.col1:first-child {
    padding-left: 0;
}

.col1:last-child {
    padding-right: 0;
}

.col2 {
    flex: 1 1 calc(100% / 12 * 2);
    padding: 0 20px;
    box-sizing: border-box;
}

.col2:first-child {
    padding-left: 0;
}

.col2:last-child {
    padding-right: 0;
}

.col3 {
    flex: 1 1 calc(100% / 12 * 3);
    padding: 0 20px;
    box-sizing: border-box;
}

.col3:first-child {
    padding-left: 0;
}

.col3:last-child {
    padding-right: 0;
}

.col4 {
    flex: 1 1 calc(100% / 12 * 4);
    padding: 0 20px;
    box-sizing: border-box;
}

.col4:first-child {
    padding-left: 0;
}

.col4:last-child {
    padding-right: 0;
}

.col5 {
    flex: 1 1 calc(100% / 12 * 5);
    padding: 0 20px;
    box-sizing: border-box;
}

.col5:first-child {
    padding-left: 0;
}

.col5:last-child {
    padding-right: 0;
}

.col6 {
    flex: 1 1 calc(100% / 12 * 6);
    padding: 0 20px;
    box-sizing: border-box;
}

.col6:first-child {
    padding-left: 0;
}

.col6:last-child {
    padding-right: 0;
}

.col7 {
    flex: 1 1 calc(100% / 12 * 7);
    padding: 0 20px;
    box-sizing: border-box;
}

.col7:first-child {
    padding-left: 0;
}

.col7:last-child {
    padding-right: 0;
}

.col8 {
    flex: 1 1 calc(100% / 12 * 8);
    padding: 0 20px;
    box-sizing: border-box;
}

.col8:first-child {
    padding-left: 0;
}

.col8:last-child {
    padding-right: 0;
}

.col9 {
    flex: 1 1 calc(100% / 12 * 9);
    padding: 0 20px;
    box-sizing: border-box;
}

.col9:first-child {
    padding-left: 0;
}

.col9:last-child {
    padding-right: 0;
}

.col10 {
    flex: 1 1 calc(100% / 12 * 10);
    padding: 0 20px;
    box-sizing: border-box;
}

.col10:first-child {
    padding-left: 0;
}

.col10:last-child {
    padding-right: 0;
}

.col11 {
    flex: 1 1 calc(100% / 12 * 11);
    padding: 0 20px;
    box-sizing: border-box;
}

.col11:first-child {
    padding-left: 0;
}

.col11:last-child {
    padding-right: 0;
}

.col12 {
    flex: 1 1 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.col12:first-child {
    padding-left: 0;
}

.col12:last-child {
    padding-right: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-name {
    display: block;
    color: #7e5c88;
    position: relative;
    font-size: 32px;
}

.logo-description {
    display: block;
    position: absolute;
    top: 100%;
    color: #717171;
    font-size: 14px;
}

.header {
    display: flex;
    height: 105px;
    align-items: stretch;
    border-top: 5px solid #7e5c88 ;
}

.header__content {
    display: flex;
    height: 100%;
}

.navigation {
    display: flex;
    align-items: stretch;
}

.navigation__item {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0px 22px;
    color: #7e5c88;
    font-size: 16px;
    position: relative;
    transition: color 0.3s;
}

.navigation__item:visited {
    color: #7e5c88;
}

.navigation__item-text {
    position: relative;
    z-index: 100;
}
.navigation__item:before {
    content: "";
    width: 100%;
    height: 80px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #7e5c88;
    opacity: 0;
    z-index: 10;
    transition: opacity 0.3s;

}

.navigation__item:hover:before {
    opacity: 1;
}

.navigation__item:hover {
    color: #fff;
}

.slider {
    position: relative;
    padding-bottom: 50px;
}

.slider__text {
    color: #000;
    font-size: 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    box-sizing: border-box;
    align-items: flex-start;
}

.slider__caption {
    font-size: 56px;
}

.slider__short-description {
    font-size: 18px;
}

.slider__arrow-left {
   position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent url("./images/splenderous/left-arrow.png");
    border: none;
    width: 15px;
    height: 28px;
    outline: none;
    cursor: pointer;
}

.slider__arrow-right {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent url("./images/splenderous/right-arrow.png");
    width: 15px;
    height: 28px;
    border: none;
    outline: none;
    cursor: pointer;
    transform-origin: 50% 50% ;
    transition: transform .1s linear;
}

.slider__arrow-right:hover {
    transform: scale(1.2, 1.2) translate(-50%, -50% );
}

.link--button {
    text-decoration: none;
    font-size: 16px;
    background: #7e5c88;
    border-radius: 30px;
    padding: 7px 15px;
    color: white;
}

.slider__photo-wrapper {
    text-align: left;
}

.slider__photo {
    border-radius: 100%;
    border: 30px solid #7e5c88;
}

.section-divider {
    position: relative;
    padding-bottom: 50px;
}

.section-divider::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%) scale(1, 0.2);
    border-radius: 50%;
    width: 40%;
    height: 9px;
    background: black;
    opacity: 0.5;
    -webkit-filter: blur(10px);
}

.latest-projects {
    margin-top: 60px;
}

.latest-projects__list {
    display: flex;
    justify-content: space-between;
}

.project {
    display: flex;
    flex-direction: column;
    background: #eeeeee ;
    transition: all 0.1s linear ;
}

.project:hover {
    background: #7e5c88;
    color: #fff;
}

.project__title {
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}

.project__description {
    text-align: center;
    padding: 10px 0;
}

.post {
    display: flex;
    flex-direction: column;
}

.articles {
    margin-top: 60px;
}

.profile {
    display: flex;
    margin-bottom: 20px;
}

.profile__info {
    margin-left: 10px;
}

.profile__link {
    text-decoration: none;
    color: #7e5c88;
}

.footer {
    margin-top: 60px;
}

.footer__title {
    color: #7f7f7f;
    font-size: 20px;
}

.footer__section-content {
    margin-top: 40px;
}

.latest-tweets__title {
    color: #7f7f7f;
}

.latest-tweets__author {
    margin-top: 5px;
}

.latest-tweets__text {
    margin-top: 10px;
}

.latest-tweets__link {
    text-decoration: none;
    color: #7e5c88;
    margin-top: 30px;
    float: right;
}

.quick-links {
    text-decoration: none;
    color: #7e5c88;
}

.quick-links__link {
    border-bottom: 1px solid #e0e0e0;
    margin-top: 10px;
    padding-bottom: 10px;
}

.company-info__tel {
    margin-top: 20px;
}

.company-info__fax {
    margin-top: 20px;
}

.company-info__email {
    margin-top: 20px;
}

.social-links__item {
    margin-top: 20px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
}
.social-links__link {
    text-decoration: none;
    color: #7e5c88;
    display: flex;
    align-items: center;
}

.social-links__icon {
    display: flex;
    justify-content: center ;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #cdcdcd;
    margin-right: 10px;
    color: #fff;
}

.social-links__icon:hover {
    background-color: #7e5c88;
    transition: all 0.1s linear;
}

.copyright {
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer__developer {
    text-align: right;
}