body {
    font-family: 'PT Sans', sans-serif;
}

.brothers__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: inherit;
}
.brothers__form {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    font-family: inherit;
}

.brothers__field {
    border: none ;
    margin-bottom: 20px;
    font-size: 14px;
    padding: 10px 3px;
    font-family: inherit;
    outline: none;
}

.brothers__field--bordered {
    border-bottom: 1px solid black;
}

.brothers__remember-me {
    display: flex;
    align-items: center;
}

.brothers__button {
    height: 45px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: none;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
}

.brothers__button--primary {
    background-color: #ff004e;
}

.brothers__button--secondary {
    background-color: #1c222b;

}

.brothers__buttons-divider {
    margin: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 13px;
}

.brothers__title {
    margin: 27px 0;
    font-weight: normal;
    font-size: 20px;
    color: #1b222b;
    font-family: inherit;
}

.brothers__social-name {
    font-family: inherit;
}

.brothers__button--primary:hover {
    background: #f93f77;
}

.brothers__button--secondary:hover {
    background: #262e3a;
}