* {
    margin: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'PT Sans', sans-serif;
    font-size: 12.5px;
    min-height: 100%;
}

.brothers__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: inherit;
}

.brothers__form {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    font-family: inherit;
}

.brothers__field {
    border: none ;
    margin-bottom: 20px;
    font-size: 14px;
    padding: 10px 3px;
    font-family: inherit;
    outline: none;
}

.brothers__field--bordered {
    border-bottom: 1px solid black;
}

.brothers__remember-me {
    display: flex;
    align-items: center;
}

.brothers__button {
    height: 45px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: none;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
}

.brothers__button--primary {
    background-color: #ff004e;
}

.brothers__button--secondary {
    background-color: #1c222b;
}

.brothers__buttons-divider {
    margin: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 13px;
}

.brothers__title {
    margin: 27px 0;
    font-weight: normal;
    font-size: 20px;
    color: #1b222b;
    font-family: inherit;
}

.brothers__social-name {
    font-family: inherit;
}

.brothers__button--primary:hover {
    background: #f93f77;
}

.brothers__button--secondary:hover {
    background: #262e3a;
}

.c-header {
    background-color: #507299;
}

.c-header__content {
    display: flex;
    align-items: center;
}

.c-header__logo {
    height: 25px;
    background: url("images/head_logo.svg") no-repeat left center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.c-header__search-container {
    display: flex;
    align-items: center;
}

.c-header__search {
    border-radius: 16px;
    flex-grow: 1;
    outline: none;
    border: none;
    padding-left: 34px;
    height: 28px;
    background: #305075 url("images/head_loupe.svg") no-repeat 10px center;
}

.c-header__search:focus {
    background-color: #fff;
}

.c-header__search::-webkit-input-placeholder {color:#89a4c2;}
.c-header__search::-moz-placeholder          {color:#89a4c2;}/* Firefox 19+ */
.c-header__search:-moz-placeholder           {color:#89a4c2;}/* Firefox 18- */
.c-header__search:-ms-input-placeholder      {color:#89a4c2;}
.c-header__search:placeholder                {color:#89a4c2;}

.c-header__search:focus::-webkit-input-placeholder {color:#fff;}
.c-header__search:focus::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
.c-header__search:focus:-moz-placeholder           {color:#fff;}/* Firefox 18- */
.c-header__search:focus:-ms-input-placeholder      {color:#fff;}
.c-header__search:focus:placeholder                {color:#fff;}

.c-header__profile-link-container {
    display: flex;
    justify-content: flex-end;
}

.c-header__profile-link {
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
}

.c-header__profile-link:hover {
    background-color: #486991;
}

.c-header__profile-name {
    color: #fff;
    font-weight: 700;
}

.c-header__profile-photo {
    border-radius: 100%;
    width: 28px;
    height: 28px;
    margin: 7px 0 7px 10px;
}

.c-header__profile-arrow {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
    margin-left: 10px;
}

.c-page-content {
    background: #edeef0;
    flex-grow: 1;
    padding: 15px 0;
}

.c-sidebar {
}

.c-navigation {
    list-style-type: none;
    padding: 0;
}

.c-navigation__element {

}

.c-navigation__element:hover {
background-color: #e1e5eb;;
}
.c-navigation__link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.c-navigation__icon {
    background: no-repeat left center;
    width: 18px;
    height: 25px;
    display: inline-block;
}

.c-navigation__icon--profile {
    background-image: url("./images/nav-profile.png");
}

.c-navigation__icon--news {
    background-image: url("./images/nav-news.png");
}

.c-navigation__icon--messages {
    background-image: url("./images/nav-messages.png");
}

.c-navigation__icon--friends {
    background-image: url("./images/nav-friends.png");
}

.c-navigation__icon--groups {
    background-image: url("./images/nav-groups.png");
}

.c-navigation__icon--photo {
    background-image: url("./images/nav-photo.png");
}

.c-navigation__icon--music {
    background-image: url("./images/nav-music.png");
}

.c-navigation__icon--video {
    background-image: url("./images/nav-video.png");
}

.c-navigation__text {
    height: 28px;
    line-height: 27px;
    color: #285473;
    margin-left: 8px;
}

.info-block {
    padding: 15px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.page-avatar__img-wrapper {
    position: relative;
    display: flex;
}

.page-avatar__img {
    min-width: 100%;
    max-width: 100%;
}

.page-avatar__actions-wrapper {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.page-avatar__actions {
    background-color: rgba(0,0,0,.6);
    padding: 5px 0;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transform: translateY(100%);
    transition: 0.2s all linear;
}

.page-avatar__img-wrapper:hover .page-avatar__actions {
    opacity: 1;
    transform: translateY(0);

}

.page-avatar__action {
    border: none;
    color: #fff;
    opacity: 0.8;
    width: 100%;
    text-align: left;
    background: none;
    cursor: pointer;
    padding: 5px 0 5px 35px;
    outline: none;
}

.page-avatar__action:hover {
    opacity: 1;
}

.page-avatar__update {
    background: url("./images/update-avatar.png") no-repeat 10px center;

}

.page-avatar__change-thumbnail {
    background: url("./images/change-thumbnail.png") no-repeat 10px center;
}

.page-avatar__edit {
    text-align: center;
    display: block;
    text-decoration: none;
    outline: none;
    color: #55677d;
    background-color: #e5ebf1;
    margin-top: 10px;
    padding: 7px 16px 8px;
    border-radius: 2px;
}

.page-avatar__edit:hover {
    background-color: #dfe6ed;
}

.page-avatar__deletePhoto {
    background: rgba(0,0,0,.6) url("./images/remove-avatar.png") no-repeat center center;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    padding: 9px;
    cursor: pointer;
    outline: none;
    border-radius: 0 2px 0 2px;
    transition: 0.2s all linear;
}

.page-avatar__img-wrapper:hover .page-avatar__deletePhoto {
    opacity: 1;
}

.page-avatar__deletePhoto::after {
    content: "Удалить фотографию";
    visibility: hidden;
    position: absolute;
    white-space: nowrap;
    background-color: rgba(0,0,0,.6);
    border-radius: 3px;
    color: #fff;
    top: 25px;
    left: -15px;
    padding: 0px 5px;
    line-height: 20px;
    opacity: 0;
    transition: 0.2s opacity linear;
}

.page-avatar__deletePhoto::before {
    content: "";
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid rgba(0,0,0,.6);
    top: 21px;
    left: 5px;
    opacity: 0;
    transition: 0.2s opacity linear;
}

.page-avatar__deletePhoto:hover::before,
.page-avatar__deletePhoto:hover::after {
    opacity: 1;
    visibility: visible;
}

/*Создаем блок с информацией о профиле*/

.info-block profile-info {

position: relative;
background: #fff;
border-radius: 2px;
box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
margin: 15px 0 0;
}

.profile-info__section {
    padding: 0 0 15px;
    border-bottom: 1px solid #e7e8ec;
}

.profile-info__wrapper {
    display: flex;
    align-items: center;
}

.profile-info__fio {
    flex-grow: 1;
    font-size: 19px;
    font-weight: normal;
}

.profile-info__online {
    color: #939393;
}