* {
    margin: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'PT Sans', sans-serif;
    font-size: 12.5px;
    min-height: 100%;
}

.brothers__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: inherit;
}

.brothers__form {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    font-family: inherit;
}

.brothers__field {
    border: none ;
    margin-bottom: 20px;
    font-size: 14px;
    padding: 10px 3px;
    font-family: inherit;
    outline: none;
}

.brothers__field--bordered {
    border-bottom: 1px solid black;
}

.brothers__remember-me {
    display: flex;
    align-items: center;
}

.brothers__button {
    height: 45px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: none;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
}

.brothers__button--primary {
    background-color: #ff004e;
}

.brothers__button--secondary {
    background-color: #1c222b;
}

.brothers__buttons-divider {
    margin: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 13px;
}

.brothers__title {
    margin: 27px 0;
    font-weight: normal;
    font-size: 20px;
    color: #1b222b;
    font-family: inherit;
}

.brothers__social-name {
    font-family: inherit;
}

.brothers__button--primary:hover {
    background: #f93f77;
}

.brothers__button--secondary:hover {
    background: #262e3a;
}

.c-header {
    background-color: #507299;
    display: flex;
    align-items: center;
}

.c-header__logo {
    width: 250px;
    height: 25px;
    background: url("images/head_logo.svg") no-repeat left center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.c-header__search-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.c-header__search {
    border-radius: 16px;
    outline: none;
    border: none;
    padding-left: 34px;
    height: 28px;
    background: #305075 url("images/head_loupe.svg") no-repeat 10px center;
}

.c-header__search:focus {
    background-color: #fff;
}

.c-header__search::-webkit-input-placeholder {color:#89a4c2;}
.c-header__search::-moz-placeholder          {color:#89a4c2;}/* Firefox 19+ */
.c-header__search:-moz-placeholder           {color:#89a4c2;}/* Firefox 18- */
.c-header__search:-ms-input-placeholder      {color:#89a4c2;}
.c-header__search:placeholder                {color:#89a4c2;}

.c-header__search:focus::-webkit-input-placeholder {color:#fff;}
.c-header__search:focus::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
.c-header__search:focus:-moz-placeholder           {color:#fff;}/* Firefox 18- */
.c-header__search:focus:-ms-input-placeholder      {color:#fff;}
.c-header__search:focus:placeholder                {color:#fff;}

.c-header__profile-link {
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
}

.c-header__profile-link:hover {
    background-color: #486991;
}

.c-header__profile-name {
    color: #fff;
    font-weight: 700;
}

.c-header__profile-photo {
    border-radius: 100%;
    width: 28px;
    height: 28px;
    margin: 7px 0 7px 10px;
}

.c-header__profile-arrow {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
    margin-left: 10px;
}

.c-page-content {
    background: #edeef0;
    flex-grow: 1;
}

.c-sidebar {
    width: 250px;
}

.c-navigation {
    list-style-type: none;
    padding: 0;
}

.c-navigation__element {

}

.c-navigation__element:hover {
background-color: #e1e5eb;;
}
.c-navigation__link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.c-navigation__icon {
    background: no-repeat left center;
    width: 18px;
    height: 25px;
    display: inline-block;
}

.c-navigation__icon--profile {
    background-image: url("./images/nav-profile.png");
}

.c-navigation__icon--news {
    background-image: url("./images/nav-news.png");
}

.c-navigation__icon--messages {
    background-image: url("./images/nav-messages.png");
}

.c-navigation__icon--friends {
    background-image: url("./images/nav-friends.png");
}

.c-navigation__icon--groups {
    background-image: url("./images/nav-groups.png");
}

.c-navigation__icon--photo {
    background-image: url("./images/nav-photo.png");
}

.c-navigation__icon--music {
    background-image: url("./images/nav-music.png");
}

.c-navigation__icon--video {
    background-image: url("./images/nav-video.png");
}

.c-navigation__text {
    height: 28px;
    line-height: 27px;
    color: #285473;
    margin-left: 8px;
}

