<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BROTHERS</title>
    <link rel="stylesheet" href="../styles.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>
    <body>
        Friends
    </body>
</html>